<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="header">
    <div id="headline">
        <h1>Startseite</h1>
    </div>
    <div id="buttonContainer">
        <div id="registerButton">
            <button routerLink="/register">Registrieren</button>
        </div>
        <div id="loginButton">
            <button routerLink="/login">Login</button>
        </div>
    </div>
</div>
<div id="content">
    <div id="monkeyImage">
        <img src="https://api5.angular-buch.com/images/monkey-thinking.svg" alt="Affe mit Buch">
    </div>
    <div id="underline">
        <h1>Monke read</h1>
    </div>
</div>