<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">E-Mail:</label>
        <input type="text" id="email" formControlName="email">
        <div
            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <div *ngIf="registerForm.get('email')?.errors?.['required']">Benutzername ist erforderlich.</div>
        </div>
    </div>

    <div>
        <label for="password">Passwort:</label>
        <input type="password" id="password" formControlName="password">
        <div
            *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">Passwort ist erforderlich.</div>
        </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrieren</button>
</form>
<div id="content">
    <div id="monkeyImage">
        <img src="https://api5.angular-buch.com/images/monkey-thinking.svg" alt="Affe mit Buch">
    </div>
    <div id="underline">
        <h1>Monke read</h1>
    </div>
</div>